#titulo{
    text-align: center;
}

body{
    font-size: 115%;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}

h5, h3{
    text-align: center;
}

footer{
    font-size: 115%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}
